@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

:root {
    --accent-color: #aaa;
}

html {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calc {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

    @media(min-width:768px){
        .calc{
            border: 1px solid var(--accent-color);
            border-radius: 4px;
            height: 80vh;
            width: 50vw;
        }
    }

.calc__head {
    padding: 10px 15px;
    text-align: right;
    overflow: hidden;
    border-bottom: 1px solid var(--accent-color);
}

.calc__formula {
    font-size: 3vh;
    overflow: auto;
}

.calc__display {
    font-size: 10vh;
    overflow: auto;
}

.calc__numpad {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .calc__numpad__row {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

.calc__button {
    flex: 1;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    font-size: 6vh;
    background-color: #efefef;
}

    .calc__button:hover {
        background-color: var(--accent-color);
        color: white;
    }

    .calc__button--operand, .calc__button--operand, .calc__button--compute {
        font-size: 4vh;
        background-color: #fff;
    }